.nav-pills {
  justify-content: space-between;
  margin-top: 50px;
}

.nav-pills .nav-item {
  margin: 0px 100px;
  position: relative;
}

.nav-pills .nav-item:not(:last-child)::after {
    content: " ";
    position: absolute;
    width: 126px;
    /* height: 5px; */
    border: 1px dashed var(--btn-color);
    /* background: red; */
    right: -128px;
    top: 50%;
    transform: translate(0, -50%);
}

.nav-pills .nav-item button {
  border-radius: 0px;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 17px;
}

.nav-pills .nav-link {
  border: 2px solid var(--btn-color) !important;
  color: var(--btn-color);
  letter-spacing: 0.8px;
  transition: 0.4s background-color ease;
}

.nav-pills .nav-link:hover {
  color: #fff;
  background-color: #181828 !important;
  border: none !important;
  padding: 17px 22px;
  transition: 0.4s background-color ease;
}

.nav-pills .nav-link.active {
  background-color: #181828 !important;
  border: none !important;
  padding: 17px 22px;
  transition: 0.4s background-color ease;
}

.table {
  padding: 50px 10px;
}
.table tbody tr {
  border: 0px solid transparent;
  padding: 0px 30px;
}

.table tbody tr,
.table tbody th {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 16px;
}

.table tbody th {
  font-weight: 900;
}



@media screen and (max-width: 1024px) {


  .nav-fill .nav-item .nav-link {
    margin: 10px 0px;
  }

  .nav-pills .nav-item
  {
    margin: 0px 50px;
  }
}

@media screen and (min-width:1112px) {
    .nav-pills .nav-item
    {
        margin: 0px 65px;
    }
}

@media screen and (max-width: 1111px) {
  .nav-pills .nav-item:not(:last-child)::after {
    display: none;
  }

  .nav-pills .nav-item
  {
    margin-bottom: 10px;
  }

}




