.hero_section_wrapper {}

.astro_animation {}

.window_bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window_bg img:nth-child(1) {
    height: 600px;
    /* padding-top: 40px; */
    position: relative;
}

.window_bg img:nth-child(2) {
    position: absolute;
    height: 500px;
    /* margin-top: 50px; */
    /* top: 50%;
    left: 50%; */
    -webkit-animation: spin 12s linear infinite;
    -moz-animation: spin 12s linear infinite;
    animation: spin 12s linear infinite;
}

.astro_circle {}

/* */
/* .astro_circle img:hover {
    transform: rotate(180deg);
} */

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.form_wrapper {
    width: 400px;
    background-color: #d4b1742a;
    /* background-color: #181828ef; */
    padding: 40px 20px 20px 20px;
    position: relative;
}

.form_wrapper img {
    height: 150px;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translate(-50%);
    /* animation: MoveUpDown 3s linear infinite; */
}

@keyframes MoveUpDown {

    0%,
    100% {
        top: -60px
    }

    50% {
        top: -70px
    }
}

.form_wrapper form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form_wrapper form input {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--btn-color);
    background: #f3e3c8;
}
.form_wrapper form span {
    color: var(--btn-color);
    font-size: 12px;
}

.form_wrapper form input:focus {
    box-shadow: none;
    border-bottom: 2px solid #181828;
}

.form_wrapper form input::placeholder {
    font-size: 12px;
    /* color: white; */
}

.form_wrapper form label {
    font-size: 13px;
    font-weight: 600;
    color: var(--heading-text-color);
}

.submit_btn button {
    background-color: var(--btn-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 0px;
}

.submit_btn button:hover {
    background-color: #181828;
    color: #fff;
}