@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --text-color: #181828;
  --btn-color: #EC4400;
  --heading-text-color: #D5846E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Philosopher", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
    width: 100%;
    /* background-image: url(./img//astrology-bg.png);
            background-position: bottom;
            background-size: cover; */
}